<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->

<div class="navigation toggleFullScreen" ng-controller="NavigationController as NavigationCtrl" ui-nav>
  <ul class="clearfix">
    <li ng-repeat="NavigationCtrl.navigation">
      <a ui-sref="state" openlmis-message="NavigationCtrl.getStateLabel(state)"></a>
      <ul class="submenu" ng-if="NavigationCtrl.hasChildren(state)">
        <li>CHILD STATES</li>
      </ul>
    </li>
  </ul>
</div>
<div class="navigation-locale-bar">
  <ng-include src="'/public/pages/locale-list.html'"/>
</div>
